{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3 class="mt-5 mb-3">Expenses</h3>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{ expense.expensename }}</div>
                        <div class="col-md-2">{{ expense.amount }}</div>
                        <div class="col-md-2">{{ expense.date }}</div>
                        <div class="col-md-2">
                            <span class="badge text-bg-info">{{ expense.category }}</span>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-success" href="editexpense/{{expense.id}}" role="button">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-danger" href="delete/{{expense.id}}" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}