{% extends 'base.html' %}

{% block body %}

<div class="container">
    <h3 class="mt-5 mb-3">Expenses</h3>
    {% for expense in expenses %}
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">{{ expense.expensename }}</div>
                        <div class="col-md-2">${{ expense.amount }}</div>
                        <div class="col-md-2">{{ expense.date }}</div>
                        <div class="col-md-2">
                            <span class="badge text-bg-info" id="category">{{ expense.category }}</span>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-success" href="editexpense/{{expense.id}}" role="button">Edit</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-outline-danger" href="delete/{{expense.id}}" role="button">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5 mb-3">Expenses Breakdown</h3>
            <div class="card shaow bb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Food</div>
                        <div class="col-md-6" id="total_food">{{ total_food }}</div>
                    </div>
                </div>
            </div>
            <div class="card shaow bb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Entertainment</div>
                        <div class="col-md-6" id="total_entertainment">{{ total_entertainment }}</div>
                    </div>
                </div>
            </div>
            <div class="card shaow bb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Clothes</div>
                        <div class="col-md-6" id="total_clothes">{{ total_clothes }}</div>
                    </div>
                </div>
            </div>
            <div class="card shaow bb-2 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Other</div>
                        <div class="col-md-6" id="total_other">{{ total_other }}</div>
                    </div>
                </div>
            </div>
            <div class="card shaow bb-2 bg-white rounded mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">Total Amount</div>
                        <div class="col-md-6">${{ total }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <canvas id="myChart" width="400" height="400"></canvas>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          
          <script>

            const ctx = document.getElementById('myChart');
            let food = document.getElementById('total_food').innerHTML;
            let entertainment = document.getElementById('total_entertainment').innerHTML;
            let clothes = document.getElementById('total_clothes').innerHTML;
            let other = document.getElementById('total_other').innerHTML;
            console.log("Food is ", food);
          
            new Chart(ctx, {
              type: 'pie',
              data: {
                labels: ['Food', 'Entertainment', 'Clothes', 'Other'],
                datasets: [{
                  data: [food, entertainment, clothes, other],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
          </div>
    </div>
</div>

{% endblock %}